# Laravel / PHP
.vscode
/vendor/
/source/node12_modules111/
/source/public/storage
/source/storage/*.key
/.idea/
/*.log
/source/.vscode/
/source/.env
.env.backup
.env.local
.env.*.local

# Cache & compiled files
bootstrap/cache/*.php
storage/*.key
storage/debugbar/*

# OS-specific
.DS_Store
Thumbs.db

# Composer / NPM
composer.lock
package-lock.json
yarn.lock

# Optional: IDE/project files
*.iml
*.sublime-project
*.sublime-workspace

# PHPUnit / test cache
.phpunit.result.cache
./.ddvenv